body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.images li{
    display: inline-block;
}

div.logo{
    border-style: solid;
    width: 10%;
    text-align: center;
    padding: 27px;
    top: 24px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

li.login a{
    text-decoration: none;
    color: #972958;
}

.mag{
    max-width: 90px;
    max-height: 90px;
    width: auto;
    height: auto;
    left: 87%;
    position: relative;
}

.bag{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}

div.login{
    position: absolute;
    top: 4.2%;
    right: 9%; 
}

li.login{
    display: inline-flex;
    position: relative;
    transform: translate(-6%, -17%);
}

.list li{
    color: white;
    font-size: 13pt;
    display: inline-block;
    border-style: none;
    margin: 0px;
    padding: 19.3px;
}

.list li:hover{
    background-color: rgb(123, 0, 0);
}

ul.list{
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    text-align: center;
    background-color: black;
    height: 60px;
    padding: 0;
    margin: 0;
    display: block;
    width: auto;
}

